<!DOCTYPE html>
<html lang="en">

<head>
    <title>IDK</title>
</head>

<body>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1LRQ8ZjAU_F299VjgKI1HspdZXepIL4ZK" width="640" height="480"></iframe>


    <!-- change php to something useful maybe -->
    <form action="" method="post">
        <label for="address">Choose a location:</label>
        <select name="address" id="address">
            <option value="1216 Tessier Dr">1216 Tessier Dr</option>
            <option value="VALUE">VALUE</option>
            <option value="VALUE">VALUE</option>
            <option value="VALUE">VALUE</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" name="address">
    </form>
    {{ table }}
</body>

</html>
