<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        html {
            font: 100%/1.5 'Poppins', sans-serif;
            scroll-behavior: smooth;
        }

        body {
            /* Remove default user agent margins */
            margin: 0;
        }
    </style>
    <title>Provider Dashboard</title>
</head>

<body>
    <div style="margin:auto;width: 50%;">
        <h1>Welcome, {{ providername }}.</h1>

        <h3>Add an open appointment slot</h3>

        <form action="{% url 'providerDashboard' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br /><br />
            <input type="submit">
        </form>
    </div>
</body></html>